@charset "utf-8";
/* CSS Document */

html{
	height: 100%;
}

body{
	height: 100%;
	margin: 0;
	background: rgb(190,50,237);
	background: linear-gradient(0deg, rgba(190,50,237,1) 5%, rgba(180,47,224,1) 15%, rgba(160,42,199,1) 30%, rgba(129,34,161,1) 40%, rgba(84,22,105,1) 75%, rgba(84,22,105,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}

*{
	margin: 0px;
	padding: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	color: white;
	box-sizing: border-box;
	
}

/*---HEADER (Logo and menu)---*/
.logo img{
	height: 120px;
	padding-left: 0px;
}

.top-bar{
	/*background: #323030; */
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding-top: 60px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100px;
}

.menu{
	display: flex;
	list-style-type: none;
	font-size: 20px;
	font-weight: bold;
}

li{
	padding-right: 180px;
	overflow: hidden;
	color: #69D4C7;
	
}

a:link{
	text-decoration: none;
}

a:hover{
	color: #E06CD9;
}

.box{
	height: 100%;
	width: 30px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.icon, .icon::before, .icon::after{
	display: block;
	background: white;
	height: 4px;
	width: 30px;
	border-radius: 2px;
	position: absolute;
	transition: transform 400ms;
}

.icon::before{
	content:"";
	margin-top: -8px;
}

.icon::after{
	content:"";
	margin-top: 8px;
}

#activate:checked + .box .icon::before{
	margin-top: 0;
	transform: rotate(405deg);
}

#activate:checked + .box .icon::after{
	margin-top: 0;
	transform: rotate(-405deg);
}

#activate:checked + .box .icon{
	background: rgba(80,79,79,0)
}

#activate{
	display: none;
}

.box{
	display: none;
}

@media screen and (max-width: 700px){
	.rows, .box{
		display: flex;
		flex-direction: column;
		
	}
	
	.menu{
		position: absolute;
		top: 0;
		left: 0px;
		margin-top: 115px;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		
	}

	.menu li{
		/*background: #323030;*/ /* drop-down menu colour*/
		border: 1px solid white;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	#activate ~ .menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		/*transition: height 0ms;*/
	}

	#activate:checked ~ .menu li{
		/*transition: height 0ms;*/
		height: 45px;
		border-bottom: 1px solid white;
		padding: 15px;
	}
	
	#activate:checked ~ .menu #top-element{
		border-top: 1px solid white;
		margin-top: 30px;
	}
}

/*---CONTENT MAIN PAGE (categories)---*/
/* Column container */
.rows {  
	display: flex;
	/*flex-wrap: wrap;*/	
	align-items: stretch;
	margin-top: 200px;
}

.rows > div{
  text-align: center;
}



.category-one img{
	height: 450px;
  	padding: 1rem;
  	position: relative;
	border-radius: 100px;
	border: 30px solid #945390;
	
}

.category-two img{
	height: 450px;
  	padding: 1rem;
  	position: relative;
	border-radius: 100px;
	border: 30px solid #945390;
}

.category-three img{
	height: 450px;
  	padding: 1rem;
  	position: relative;
	border-radius: 100px;
	border: 30px solid #945390;
	
}







